Site/includes/footer.html

<footer class="clearfix">
  <div class="container">
    <div class="brand-footer col-sm-12 col-lg-3">
      <div class="content">
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo"/>
            <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
      </div>
    </div>
    <div class="quick-links col-sm-6 col-md-4 col-lg-3">
      <div class="content">
        <h4>Quick links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Hosting Plans</a></li>
          <li><a href="#">Domain</a></li>
        </ul>
        <ul>
          <li><a href="#">Faq</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="contact col-sm-6 col-md-4 col-lg-4">
      <div class="content">
        <h4>Contact us</h4>
        <address> 
          <p> <span>Address : </span>9867 lipsum text here <br/>There are many variations</p>
          <p> <span>Email : </span>info@hosting.com</p>
          <p> <span>Call : </span>+87 7765 557 888</p>
        </address>
      </div>
    </div>
    <div class="media col-sm-12 col-md-4 col-lg-2">
      <div class="content">
        <h4>Social media</h4>
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

Site/pug/includes/footer.pug
footer.clearfix
  .container
    .brand-footer.col-sm-12.col-lg-3
      .content
        .brand
          a(href="#")
            img(src="img/logo.png", alt="Logo")
            p Hosting
        span 2015 © Allright Reserved
    .quick-links.col-sm-6.col-md-4.col-lg-3
      .content
        h4 Quick links
        ul
          li
            a(href="#") Home
          li
            a(href="#") About us
          li
            a(href="#") Service
          li
            a(href="#") Hosting Plans
          li
            a(href="#") Domain
        ul
          li
            a(href="#") Faq
          li
            a(href="#") Blog
          li
            a(href="#") Support
          li
            a(href="#") Contact
    .contact.col-sm-6.col-md-4.col-lg-4
      .content
        h4 Contact us
        address 
          p 
            span Address : 
            | 9867 lipsum text here 
            br 
            |There are many variations
          p 
            span Email : 
            | info@hosting.com
          p 
            span Call : 
            |+87 7765 557 888
    .media.col-sm-12.col-md-4.col-lg-2
      .content
        h4 Social media
        ul
          li
            a(href="#")
              i(class="fa fa-facebook" aria-hidden="true")
          li
            a(href="#")
              i(class="fa fa-twitter" aria-hidden="true")
          li
            a(href="#")
              i(class="fa fa-linkedin" aria-hidden="true")
          li
            a(href="#")
              i(class="fa fa-google-plus" aria-hidden="true")
