Site/includes/header.html

<header class="container">
  <div class="hero-brand clearfix">
    <div class="user-block">
      <ul>
        <li>Support <a href="#">: info@webhosting.com</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
    <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo"/>
        <p>Hosting</p></a></div>
  </div>
</header>
<nav>
  <div class="container">
    <div class="row">
      <input type="checkbox" id="hamburger"/>
      <div class="icon">
        <label for="hamburger"><span></span><span></span><span></span></label>
      </div>
      <ul class="menu clearfix">
        <li><a href="Home.html">Home</a>
        </li>
        <li><a href="About us.html">About us</a>
        </li>
        <li><a href="Service.html">Service</a>
        </li>
        <li><a href="Hosting.html">Hosting<span>Plans</span></a>
        </li>
        <li><a href="Domain.html">Domain</a>
        </li>
        <li><a href="Faq.html">Faq</a>
        </li>
        <li><a href="Testimonials.html">Testimonials</a>
        </li>
        <li><a href="Blog.html">Blog</a>
        </li>
        <li><a href="Support.html">Support</a>
        </li>
        <li><a href="Contact Us.html">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

Site/pug/includes/header.pug
- var nav = [ 'Home','About us', 'Service', 'Hosting', 'Domain', 'Faq', 'Testimonials', 'Blog', 'Support', 'Contact Us']

header.container
	.hero-brand.clearfix
		.user-block
			ul
				li Support 
					a(href="#") : info@webhosting.com
				li
					a(href="#") Register
				li
					a(href="#") Login
		.brand
			a(href="#")
				img(src="img/logo.png", alt="Logo")
				p Hosting
nav
	.container
		.row
			input(type="checkbox" id="hamburger")
			.icon
				label(for="hamburger")
					span
					span
					span
			ul.menu.clearfix
				each item in nav
					if item == title
						li.active
							if item == 'Hosting'
								a(href=item+".html")= item
									span Plans
							else
								a(href=item+".html")= item
					else
						li
							if item == 'Hosting'
								a(href=item+".html")= item
									span Plans
							else
								a(href=item+".html")= item
