Site/includes/newsletter.html

<section class="section-newsletter aqua">
  <div class="container">
    <div class="paragraph">
      <p>sign up your </p>
      <h2>newsletter</h2><i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <form action="">
      <input type="text" placeholder="Enter your domain name"/>
      <input class="btn btn-lg btn-orange" type="submit" value="Sign up now"/>
    </form>
  </div>
</section>

Site/pug/includes/newsletter.pug
section.section-newsletter.aqua
	.container
		.paragraph
			p sign up your 
			h2 newsletter
			i(class="fa fa-envelope-o" aria-hidden="true")
		form(action="")
			input(type="text" placeholder="Enter your domain name")
			input.btn.btn-lg.btn-orange(type="submit" value="Sign up now")
