Site/pug/blog.pug
extends ./templates/base-template

block vars
	- var title = "Blog"
	- var current = "Blog"


block header
block content
	section.section-hero
		.container
			h1 Blog
			p post
	section.section-blog.container
		.paragraph
			p Our
			h2 Blog
			span
		.blog-img
			.img
		.blog-heading
			h3 Blog Heading here
			p Posted By : Akhil   |    Date : 02-02-2015
		.blog-content
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, 
			p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. 
			p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
		.blog-footer.clearfix
			ul.social
				li
					a.icon.comment(href="#") #[span 24] Comments
				li
					a.icon.like(href="#")  
						i(class="fa fa-heart-o" aria-hidden="true") 
						|Like
				li
					p.icon.share
						i(class="fa fa-share-alt" aria-hidden="true")
						|Share :
					ul
						li
							a(href="#")
								i(class="fa fa-facebook" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-twitter" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-linkedin" aria-hidden="true")
						li
							a(href="#")
								i(class="fa fa-google-plus" aria-hidden="true")
			ul.pagination
				li
					a.active(href="#") 1
				li
					a(href="#") 2
				li
					a(href="#") 3
				li
					a(href="#") 4
				li
					p .......
				li
					a(href="#") 13
		.blog-author.aqua
			.media
				.media-left
					a(href='#')
						//- img.media-object(src='...', alt='...')
				.media-body
					h4.media-heading By : akhil
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature
	section.section-comments.container
			.paragraph
				p Our
				h2 comments
				span
			.comments
				ul.media-list
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply
								h4 akhil Designer
								p February, 2, 2015
							p Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature
					li.media.inner
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 sunil joshi
								p February, 2, 2015
							p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.
					li.media.inner
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 Sonia nair
								p February, 2, 2015
							p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 krishnan unni
								p February, 2, 2015
							p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					li.media
						.media-left
							a(href='#')
								//- img.media-object(src='...', alt='...')
						.media-body
							.media-heading
								a.btn.btn-orange.btn-comment(href="#") Reply								
								h4 darwin michle
								p February, 3, 2015
							p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney Colleg.
	section.section-leave-comment.aqua-no-pad
		.container
			.paragraph
				p Leave a 
				h2 Comment
				i(class="fa fa-comments-o" aria-hidden="true")
			form.row
				.col-sm-6
					input(type="text" placeholder="Name")
					input(type="email" placeholder="Email")
					input(type="text" placeholder="Subject")
				.col-sm-6
					textarea(name="" placeholder="Comment")
				.col-sm-12
					input.btn.btn-lg.btn-orange(type="submit" value="Submit")

							
block footer

block scripts

block custom-scripts

Site/blog.html
<!DOCTYPE html>
<html class="show-time" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <!--if lt IE 9script(src='http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js')
    -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="container">
      <div class="hero-brand clearfix">
        <div class="user-block">
          <ul>
            <li>Support <a href="#">: info@webhosting.com</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
            <p>Hosting</p></a></div>
      </div>
    </header>
    <nav>
      <div class="container">
        <div class="row">
          <input type="checkbox" id="hamburger">
          <div class="icon">
            <label for="hamburger"><span></span><span></span><span></span></label>
          </div>
          <ul class="menu clearfix">
            <li><a href="Home.html">Home</a>
            </li>
            <li><a href="About us.html">About us</a>
            </li>
            <li><a href="Service.html">Service</a>
            </li>
            <li><a href="Hosting.html">Hosting<span>Plans</span></a>
            </li>
            <li><a href="Domain.html">Domain</a>
            </li>
            <li><a href="Faq.html">Faq</a>
            </li>
            <li><a href="Testimonials.html">Testimonials</a>
            </li>
            <li class="active"><a href="Blog.html">Blog</a>
            </li>
            <li><a href="Support.html">Support</a>
            </li>
            <li><a href="Contact Us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="section-hero">
      <div class="container">
        <h1>Blog</h1>
        <p>post</p>
      </div>
    </section>
    <section class="section-blog container">
      <div class="paragraph">
        <p>Our</p>
        <h2>Blog</h2><span></span>
      </div>
      <div class="blog-img">
        <div class="img"></div>
      </div>
      <div class="blog-heading">
        <h3>Blog Heading here</h3>
        <p>Posted By : Akhil   |    Date : 02-02-2015</p>
      </div>
      <div class="blog-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, </p>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. </p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
      </div>
      <div class="blog-footer clearfix">
        <ul class="social">
          <li><a class="icon comment" href="#"><span>24</span> Comments</a></li>
          <li><a class="icon like" href="#"> <i class="fa fa-heart-o" aria-hidden="true"> </i>Like</a></li>
          <li>
            <p class="icon share"><i class="fa fa-share-alt" aria-hidden="true"></i>Share :</p>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </li>
        </ul>
        <ul class="pagination">
          <li><a class="active" href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li>
            <p>.......</p>
          </li>
          <li><a href="#">13</a></li>
        </ul>
      </div>
      <div class="blog-author aqua">
        <div class="media">
          <div class="media-left"><a href="#"></a></div>
          <div class="media-body">
            <h4 class="media-heading">By : akhil</h4>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-comments container">
      <div class="paragraph">
        <p>Our</p>
        <h2>comments</h2><span></span>
      </div>
      <div class="comments">
        <ul class="media-list">
          <li class="media">
            <div class="media-left"><a href="#"></a></div>
            <div class="media-body">
              <div class="media-heading"><a class="btn btn-orange btn-comment" href="#">Reply</a>
                <h4>akhil Designer</h4>
                <p>February, 2, 2015</p>
              </div>
              <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature</p>
            </div>
          </li>
          <li class="media inner">
            <div class="media-left"><a href="#"></a></div>
            <div class="media-body">
              <div class="media-heading"><a class="btn btn-orange btn-comment" href="#">Reply								</a>
                <h4>sunil joshi</h4>
                <p>February, 2, 2015</p>
              </div>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.</p>
            </div>
          </li>
          <li class="media inner">
            <div class="media-left"><a href="#"></a></div>
            <div class="media-body">
              <div class="media-heading"><a class="btn btn-orange btn-comment" href="#">Reply								</a>
                <h4>Sonia nair</h4>
                <p>February, 2, 2015</p>
              </div>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left"><a href="#"></a></div>
            <div class="media-body">
              <div class="media-heading"><a class="btn btn-orange btn-comment" href="#">Reply								</a>
                <h4>krishnan unni</h4>
                <p>February, 2, 2015</p>
              </div>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
          </li>
          <li class="media">
            <div class="media-left"><a href="#"></a></div>
            <div class="media-body">
              <div class="media-heading"><a class="btn btn-orange btn-comment" href="#">Reply								</a>
                <h4>darwin michle</h4>
                <p>February, 3, 2015</p>
              </div>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney Colleg.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-leave-comment aqua-no-pad">
      <div class="container">
        <div class="paragraph">
          <p>Leave a </p>
          <h2>Comment</h2><i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <form class="row">
          <div class="col-sm-6">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Subject">
          </div>
          <div class="col-sm-6">
            <textarea name="" placeholder="Comment"></textarea>
          </div>
          <div class="col-sm-12">
            <input class="btn btn-lg btn-orange" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section>
    <footer class="clearfix">
      <div class="container">
        <div class="brand-footer col-sm-12 col-lg-3">
          <div class="content">
            <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
                <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
          </div>
        </div>
        <div class="quick-links col-sm-6 col-md-4 col-lg-3">
          <div class="content">
            <h4>Quick links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Hosting Plans</a></li>
              <li><a href="#">Domain</a></li>
            </ul>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="contact col-sm-6 col-md-4 col-lg-4">
          <div class="content">
            <h4>Contact us</h4>
            <address> 
              <p> <span>Address : </span>9867 lipsum text here <br>There are many variations</p>
              <p> <span>Email : </span>info@hosting.com</p>
              <p> <span>Call : </span>+87 7765 557 888</p>
            </address>
          </div>
        </div>
        <div class="media col-sm-12 col-md-4 col-lg-2">
          <div class="content">
            <h4>Social media</h4>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
