Site/pug/index.pug
extends ./templates/base-template

block vars
	- var title = "Home"



block header
block content
	section.carousel
		.owl-carousel.owl-theme
			.item.n1
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
			.item.n2
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
			.item.n3
				.paragraph-hero
					h1 Awesome hosting
					p with unlimited features
		.owl-nav.container
		.owl-dots.container
	section.section-domain.aqua
		.container
			.paragraph
				p Search your  
				h2 Domain
				i(class="fa fa-search" aria-hidden="true")
			form(action="")
				input.text-input(type="text" placeholder="Enter your domain name")
				select
					option(value="0") Year (0-1 year)
					option(value="1") Year (1-2 year)
					option(value="2") Year (2-5 year)
				select.local
					option(value="0") .com
					option(value="1") .net
					option(value="2") .ua
				input.btn.btn-lg.btn-orange(type="submit" value="Search")
	section.section-benefits.container
			.paragraph
				p Our  
				h2 benefits
				span
			ul.list-benefits
				.row
					li.col-sm-4
						.icon-block.col-md-3.no-pad
							i(class="fa fa-ioxhost" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 99.9% Uptime
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i(class="fa fa-comments-o" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 24/7/365 Support
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i(class="fa fa-laptop" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 protect your pc
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
				.row
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.cog(class="fa fa-cog" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 DNS control
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.mail(class="fa fa-envelope-o" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 domain transfer
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
					li.col-sm-4
						.icon-block.col-md-3.no-pad
								i.lock(class="fa fa-lock" aria-hidden="true")
						.text-block.col-md-9.no-pad
							h3 100% security
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
	section.section-features.shany 
		.container
			.row
				.col-sm-5
					.paragraph
						p Now 
						h2 What is hot
						span
					a(href="#").get-up-to
						span.percent 50%
						span.text-blue off
						br
						span.text each 
							b hosting
				.col-sm-7
					.list-features
						.paragraph
							p our 
							h2 features
							span
						.list-item.col-md-6.col-lg-5
							ul
								li 
									i(class="fa fa-angle-right" aria-hidden="true")
									|Lorem Ipsum is simply dummy.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Discovered the undoubtable.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Various versions have evolved.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Suffered alteration in some.
						.list-item.col-md-6.col-lg-4
							ul
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Specimen book.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Lpsum generators.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Sentence structures.
								li
									i(class="fa fa-angle-right" aria-hidden="true")
									|Embarrassing hidden.
						.list-item.col-md-12.col-lg-3
								a(href="#").btn.btn-md.btn-orange View all
	section.section-hosting.container
		.paragraph
			p Our
			h2 Hosting
			span
		.list-hosting
			ul.row
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 5 
							p per month
						a(href="#").btn.btn-blue.btn-blue Standard plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 6 
							p per month
						a(href="#").btn.btn-blue advanced plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 8 
							p per month
						a(href="#").btn.btn-blue business plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
				.col-md-3
					li
						.prise
							p 
								span $ 
									b 9 
							p per month
						a(href="#").btn.btn-blue gold plan
						p 10GB Disk Space
						p 1TB Bandwidth
						p Free DDoS Protection
						p Free Daily Backups
						p Managed Hosting
						a(href="#").btn.btn-sm.btn-orange Signup					
	include ./includes/newsletter
block footer

block scripts

block custom-scripts
	script.
		$('.owl-carousel').owlCarousel({
			nav: true,
			navContainer: '.owl-nav.container',
			dotsContainer: '.owl-dots.container',
			navText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>","<i class='fa fa-angle-right' aria-hidden='true'></i>"],
			loop: true,
			autoplay: true,
			items: 1,
			responsive:{
				0:{
					items:1
					}
				}
			})

Site/index.html
<!DOCTYPE html>
<html class="show-time" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!--if lt IE 9script(src='http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js')
    -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="container">
      <div class="hero-brand clearfix">
        <div class="user-block">
          <ul>
            <li>Support <a href="#">: info@webhosting.com</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
            <p>Hosting</p></a></div>
      </div>
    </header>
    <nav>
      <div class="container">
        <div class="row">
          <input type="checkbox" id="hamburger">
          <div class="icon">
            <label for="hamburger"><span></span><span></span><span></span></label>
          </div>
          <ul class="menu clearfix">
            <li class="active"><a href="Home.html">Home</a>
            </li>
            <li><a href="About us.html">About us</a>
            </li>
            <li><a href="Service.html">Service</a>
            </li>
            <li><a href="Hosting.html">Hosting<span>Plans</span></a>
            </li>
            <li><a href="Domain.html">Domain</a>
            </li>
            <li><a href="Faq.html">Faq</a>
            </li>
            <li><a href="Testimonials.html">Testimonials</a>
            </li>
            <li><a href="Blog.html">Blog</a>
            </li>
            <li><a href="Support.html">Support</a>
            </li>
            <li><a href="Contact Us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="carousel">
      <div class="owl-carousel owl-theme">
        <div class="item n1">
          <div class="paragraph-hero">
            <h1>Awesome hosting</h1>
            <p>with unlimited features</p>
          </div>
        </div>
        <div class="item n2">
          <div class="paragraph-hero">
            <h1>Awesome hosting</h1>
            <p>with unlimited features</p>
          </div>
        </div>
        <div class="item n3">
          <div class="paragraph-hero">
            <h1>Awesome hosting</h1>
            <p>with unlimited features</p>
          </div>
        </div>
      </div>
      <div class="owl-nav container"></div>
      <div class="owl-dots container"></div>
    </section>
    <section class="section-domain aqua">
      <div class="container">
        <div class="paragraph">
          <p>Search your  </p>
          <h2>Domain</h2><i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <form action="">
          <input class="text-input" type="text" placeholder="Enter your domain name">
          <select>
            <option value="0">Year (0-1 year)</option>
            <option value="1">Year (1-2 year)</option>
            <option value="2">Year (2-5 year)</option>
          </select>
          <select class="local">
            <option value="0">.com</option>
            <option value="1">.net</option>
            <option value="2">.ua</option>
          </select>
          <input class="btn btn-lg btn-orange" type="submit" value="Search">
        </form>
      </div>
    </section>
    <section class="section-benefits container">
      <div class="paragraph">
        <p>Our  </p>
        <h2>benefits</h2><span></span>
      </div>
      <ul class="list-benefits">
        <div class="row">
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="fa fa-ioxhost" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>99.9% Uptime</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="fa fa-comments-o" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>24/7/365 Support</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="fa fa-laptop" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>protect your pc</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
        </div>
        <div class="row">
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="cog fa fa-cog" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>DNS control</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="mail fa fa-envelope-o" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>domain transfer</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
          <li class="col-sm-4">
            <div class="icon-block col-md-3 no-pad"><i class="lock fa fa-lock" aria-hidden="true"></i></div>
            <div class="text-block col-md-9 no-pad">
              <h3>100% security</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
            </div>
          </li>
        </div>
      </ul>
    </section>
    <section class="section-features shany"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="paragraph">
              <p>Now </p>
              <h2>What is hot</h2><span></span>
            </div><a class="get-up-to" href="#"><span class="percent">50%</span><span class="text-blue">off</span><br><span class="text">each <b>hosting</b></span></a>
          </div>
          <div class="col-sm-7">
            <div class="list-features">
              <div class="paragraph">
                <p>our </p>
                <h2>features</h2><span></span>
              </div>
              <div class="list-item col-md-6 col-lg-5">
                <ul>
                  <li> <i class="fa fa-angle-right" aria-hidden="true"></i>Lorem Ipsum is simply dummy.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Discovered the undoubtable.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Various versions have evolved.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Suffered alteration in some.</li>
                </ul>
              </div>
              <div class="list-item col-md-6 col-lg-4">
                <ul>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Specimen book.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Lpsum generators.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Sentence structures.</li>
                  <li><i class="fa fa-angle-right" aria-hidden="true"></i>Embarrassing hidden.</li>
                </ul>
              </div>
              <div class="list-item col-md-12 col-lg-3"><a class="btn btn-md btn-orange" href="#">View all</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-hosting container">
      <div class="paragraph">
        <p>Our</p>
        <h2>Hosting</h2><span></span>
      </div>
      <div class="list-hosting">
        <ul class="row">
          <div class="col-md-3">
            <li>
              <div class="prise">
                <p> <span>$ <b>5 </b></span></p>
                <p>per month</p>
              </div><a class="btn btn-blue btn-blue" href="#">Standard plan</a>
              <p>10GB Disk Space</p>
              <p>1TB Bandwidth</p>
              <p>Free DDoS Protection</p>
              <p>Free Daily Backups</p>
              <p>Managed Hosting</p><a class="btn btn-sm btn-orange" href="#">Signup</a>
            </li>
          </div>
          <div class="col-md-3">
            <li>
              <div class="prise">
                <p> <span>$ <b>6 </b></span></p>
                <p>per month</p>
              </div><a class="btn btn-blue" href="#">advanced plan</a>
              <p>10GB Disk Space</p>
              <p>1TB Bandwidth</p>
              <p>Free DDoS Protection</p>
              <p>Free Daily Backups</p>
              <p>Managed Hosting</p><a class="btn btn-sm btn-orange" href="#">Signup					</a>
            </li>
          </div>
          <div class="col-md-3">
            <li>
              <div class="prise">
                <p> <span>$ <b>8 </b></span></p>
                <p>per month</p>
              </div><a class="btn btn-blue" href="#">business plan</a>
              <p>10GB Disk Space</p>
              <p>1TB Bandwidth</p>
              <p>Free DDoS Protection</p>
              <p>Free Daily Backups</p>
              <p>Managed Hosting</p><a class="btn btn-sm btn-orange" href="#">Signup					</a>
            </li>
          </div>
          <div class="col-md-3">
            <li>
              <div class="prise">
                <p> <span>$ <b>9 </b></span></p>
                <p>per month</p>
              </div><a class="btn btn-blue" href="#">gold plan</a>
              <p>10GB Disk Space</p>
              <p>1TB Bandwidth</p>
              <p>Free DDoS Protection</p>
              <p>Free Daily Backups</p>
              <p>Managed Hosting</p><a class="btn btn-sm btn-orange" href="#">Signup					</a>
            </li>
          </div>
        </ul>
      </div>
    </section>
    <section class="section-newsletter aqua">
      <div class="container">
        <div class="paragraph">
          <p>sign up your </p>
          <h2>newsletter</h2><i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <form action="">
          <input type="text" placeholder="Enter your domain name">
          <input class="btn btn-lg btn-orange" type="submit" value="Sign up now">
        </form>
      </div>
    </section>
    <footer class="clearfix">
      <div class="container">
        <div class="brand-footer col-sm-12 col-lg-3">
          <div class="content">
            <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
                <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
          </div>
        </div>
        <div class="quick-links col-sm-6 col-md-4 col-lg-3">
          <div class="content">
            <h4>Quick links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Hosting Plans</a></li>
              <li><a href="#">Domain</a></li>
            </ul>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="contact col-sm-6 col-md-4 col-lg-4">
          <div class="content">
            <h4>Contact us</h4>
            <address> 
              <p> <span>Address : </span>9867 lipsum text here <br>There are many variations</p>
              <p> <span>Email : </span>info@hosting.com</p>
              <p> <span>Call : </span>+87 7765 557 888</p>
            </address>
          </div>
        </div>
        <div class="media col-sm-12 col-md-4 col-lg-2">
          <div class="content">
            <h4>Social media</h4>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      $('.owl-carousel').owlCarousel({
      	nav: true,
      	navContainer: '.owl-nav.container',
      	dotsContainer: '.owl-dots.container',
      	navText: ["<i class='fa fa-angle-left' aria-hidden='true'></i>","<i class='fa fa-angle-right' aria-hidden='true'></i>"],
      	loop: true,
      	autoplay: true,
      	items: 1,
      	responsive:{
      		0:{
      			items:1
      			}
      		}
      	})
    </script>
  </body>
</html>
