Site/service.html
<!DOCTYPE html>
<html class="show-time" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Service</title>
    <!--if lt IE 9script(src='http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js')
    -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="container">
      <div class="hero-brand clearfix">
        <div class="user-block">
          <ul>
            <li>Support <a href="#">: info@webhosting.com</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
            <p>Hosting</p></a></div>
      </div>
    </header>
    <nav>
      <div class="container">
        <div class="row">
          <input type="checkbox" id="hamburger">
          <div class="icon">
            <label for="hamburger"><span></span><span></span><span></span></label>
          </div>
          <ul class="menu clearfix">
            <li><a href="Home.html">Home</a>
            </li>
            <li><a href="About us.html">About us</a>
            </li>
            <li class="active"><a href="Service.html">Service</a>
            </li>
            <li><a href="Hosting.html">Hosting<span>Plans</span></a>
            </li>
            <li><a href="Domain.html">Domain</a>
            </li>
            <li><a href="Faq.html">Faq</a>
            </li>
            <li><a href="Testimonials.html">Testimonials</a>
            </li>
            <li><a href="Blog.html">Blog</a>
            </li>
            <li><a href="Support.html">Support</a>
            </li>
            <li><a href="Contact Us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="section-hero">
      <div class="container">
        <h1>our Service</h1>
        <p>What we doing</p>
      </div>
    </section>
    <section class="section-our-service container">
      <div class="paragraph">
        <p>hosting</p>
        <h2>services</h2><span></span>
      </div>
      <ul class="row">
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-1.png" alt="Icon"></div>
          <div class="text-block">
            <h3>Unlimited disk space</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-2.png" alt="Icon"></div>
          <div class="text-block">
            <h3>Unlimite bandwidth</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-3.png" alt="Icon"></div>
          <div class="text-block">
            <h3>27/7	 customer support</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
      </ul>
      <ul class="row">
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-4.png" alt="Icon"></div>
          <div class="text-block">
            <h3>high speed</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-5.png" alt="Icon"></div>
          <div class="text-block">
            <h3>site protections</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
        <li class="col-sm-4">
          <div class="icon-block"><img src="img/service-icon-6.png" alt="Icon"></div>
          <div class="text-block">
            <h3>ssd database storage</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
          </div>
        </li>
      </ul>
    </section>
    <section class="section-featured aqua">
      <div class="container">
        <div class="row">
          <div class="col-md-8 service-container">
            <div class="paragraph">
              <p>Featured</p>
              <h2>services</h2><span></span>
            </div>
            <div class="service-block clearfix">
              <div class="img-block col-sm-4"></div>
              <div class="text-block col-sm-8">
                <h3>Service name One</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
              </div>
            </div>
            <div class="service-block clearfix">
              <div class="img-block col-sm-4"></div>
              <div class="text-block col-sm-8">
                <h3>Service name two</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
              </div>
            </div>
            <div class="service-block clearfix">
              <div class="img-block col-sm-4"></div>
              <div class="text-block col-sm-8">
                <h3>Service name three</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.</p>
              </div>
            </div>
          </div>
          <div class="news-container col-md-4">
            <div class="paragraph">
              <p>latest</p>
              <h2>news</h2><span></span>
            </div>
            <div class="news-block clearfix">
              <div class="icon-container col-sm-4">
                <div class="icon">
                  <p> <span>1</span></p>jan-05
                </div>
              </div>
              <div class="text col-sm-8">
                <h3>News heading here</h3>
                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
              </div>
            </div>
            <div class="news-block clearfix">
              <div class="icon-container col-sm-4">
                <div class="icon">
                  <p> <span>2</span></p>jan-05
                </div>
              </div>
              <div class="text col-sm-8">
                <h3>News heading here</h3>
                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.</p>
              </div>
            </div>
            <div class="news-block clearfix">
              <div class="icon-container col-sm-4">
                <div class="icon">
                  <p> <span>3</span></p>jan-05
                </div>
              </div>
              <div class="text col-sm-8">
                <h3>News heading here</h3>
                <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-testimonials container">
      <div class="paragraph">
        <p>Happy</p>
        <h2>Clients</h2><span></span>
      </div>
      <div class="owl-carousel owl-theme">
        <div class="item-testimonials">
          <div class="row">
            <div class="col-sm-3 col-lg-2">
              <div class="img-block"></div>
            </div>
            <div class="col-sm-9 col-lg-10">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.</p><b><span>By</span> Akhil Designer</b>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item-testimonials">
          <div class="row">
            <div class="col-sm-3 col-lg-2">
              <div class="img-block"></div>
            </div>
            <div class="col-sm-9 col-lg-10">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.</p><b><span>By</span> Akhil Designer</b>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item-testimonials">
          <div class="row">
            <div class="col-sm-3 col-lg-2">
              <div class="img-block"></div>
            </div>
            <div class="col-sm-9 col-lg-10">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.</p><b><span>By</span> Akhil Designer</b>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item-testimonials">
          <div class="row">
            <div class="col-sm-3 col-lg-2">
              <div class="img-block"></div>
            </div>
            <div class="col-sm-9 col-lg-10">
              <blockquote>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.</p><b><span>By</span> Akhil Designer</b>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-newsletter aqua">
      <div class="container">
        <div class="paragraph">
          <p>sign up your </p>
          <h2>newsletter</h2><i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <form action="">
          <input type="text" placeholder="Enter your domain name">
          <input class="btn btn-lg btn-orange" type="submit" value="Sign up now">
        </form>
      </div>
    </section>
    <footer class="clearfix">
      <div class="container">
        <div class="brand-footer col-sm-12 col-lg-3">
          <div class="content">
            <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
                <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
          </div>
        </div>
        <div class="quick-links col-sm-6 col-md-4 col-lg-3">
          <div class="content">
            <h4>Quick links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Hosting Plans</a></li>
              <li><a href="#">Domain</a></li>
            </ul>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="contact col-sm-6 col-md-4 col-lg-4">
          <div class="content">
            <h4>Contact us</h4>
            <address> 
              <p> <span>Address : </span>9867 lipsum text here <br>There are many variations</p>
              <p> <span>Email : </span>info@hosting.com</p>
              <p> <span>Call : </span>+87 7765 557 888</p>
            </address>
          </div>
        </div>
        <div class="media col-sm-12 col-md-4 col-lg-2">
          <div class="content">
            <h4>Social media</h4>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      $('.owl-carousel').owlCarousel({
      	animateOut: 'zoomOutLeft',
      	animateIn: 'zoomInRight',
      	dots: true,
      	nav: false,
      	loop: true,
      	autoplay: true,
      	items: 1,
      	responsive:{
      		0:{
      			items:1
      			}
      		}
      	})
    </script>
  </body>
</html>

Site/pug/service.pug
extends ./templates/base-template

block vars
	- var title = "Service"
	- var current = "Service"


block header
block content
	section.section-hero
		.container
			h1 our Service
			p What we doing
	section.section-our-service.container
		.paragraph
			p hosting
			h2 services
			span
		ul.row
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-1.png", alt="Icon")
				.text-block
					h3 Unlimited disk space
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-2.png", alt="Icon")
				.text-block
					h3 Unlimite bandwidth
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-3.png", alt="Icon")
				.text-block
					h3 27/7	 customer support
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
		ul.row
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-4.png", alt="Icon")
				.text-block
					h3 high speed
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-5.png", alt="Icon")
				.text-block
					h3 site protections
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
			li.col-sm-4
				.icon-block
					img(src="img/service-icon-6.png", alt="Icon")
				.text-block
					h3 ssd database storage
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
	section.section-featured.aqua
		.container
			.row
				.col-md-8.service-container
					.paragraph
						p Featured
						h2 services
						span
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name One
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name two
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
					.service-block.clearfix
						.img-block.col-sm-4
						.text-block.col-sm-8
							h3 Service name three
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
				.news-container.col-md-4
					.paragraph
						p latest
						h2 news
						span
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 1
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 2
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
					.news-block.clearfix
						.icon-container.col-sm-4
							.icon
								p 
									span 3
								|jan-05
						.text.col-sm-8
							h3 News heading here
							p simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
	section.section-testimonials.container
		.paragraph
			p Happy
			h2 Clients
			span
		.owl-carousel.owl-theme
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
			.item-testimonials
				.row
					.col-sm-3.col-lg-2
						.img-block
					.col-sm-9.col-lg-10
						blockquote
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took a galley of type and scrambled it to make. a type specimen book. It has survived not only five centuries. but also the leap into electronic typesetting, remaining essentially unchanged.
							b #[span By] Akhil Designer
	include ./includes/newsletter
block footer

block scripts

block custom-scripts
	script.
		$('.owl-carousel').owlCarousel({
			animateOut: 'zoomOutLeft',
			animateIn: 'zoomInRight',
			dots: true,
			nav: false,
			loop: true,
			autoplay: true,
			items: 1,
			responsive:{
				0:{
					items:1
					}
				}
			})
