Site/pug/support.pug
extends ./templates/base-template

block vars
	- var title = "Support"
	- var current = "Support"


block header
block content
	section.section-hero
		.container
			h1 support
			p center
	section.section-search.container
		.paragraph
			p Support
			h2 Center
			span
		form
			i.icon(class="fa fa-search" aria-hidden="true")
			input(type="text" placeholder="Have a questions ? Enter search item here")
			input.btn.btn-orange(type="submit" value="Search")


	include ./includes/newsletter
block footer

block scripts

block custom-scripts

Site/support.html
<!DOCTYPE html>
<html class="show-time" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Support</title>
    <!--if lt IE 9script(src='http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js')
    -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="container">
      <div class="hero-brand clearfix">
        <div class="user-block">
          <ul>
            <li>Support <a href="#">: info@webhosting.com</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
            <p>Hosting</p></a></div>
      </div>
    </header>
    <nav>
      <div class="container">
        <div class="row">
          <input type="checkbox" id="hamburger">
          <div class="icon">
            <label for="hamburger"><span></span><span></span><span></span></label>
          </div>
          <ul class="menu clearfix">
            <li><a href="Home.html">Home</a>
            </li>
            <li><a href="About us.html">About us</a>
            </li>
            <li><a href="Service.html">Service</a>
            </li>
            <li><a href="Hosting.html">Hosting<span>Plans</span></a>
            </li>
            <li><a href="Domain.html">Domain</a>
            </li>
            <li><a href="Faq.html">Faq</a>
            </li>
            <li><a href="Testimonials.html">Testimonials</a>
            </li>
            <li><a href="Blog.html">Blog</a>
            </li>
            <li class="active"><a href="Support.html">Support</a>
            </li>
            <li><a href="Contact Us.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="section-hero">
      <div class="container">
        <h1>support</h1>
        <p>center</p>
      </div>
    </section>
    <section class="section-search container">
      <div class="paragraph">
        <p>Support</p>
        <h2>Center</h2><span></span>
      </div>
      <form><i class="icon fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Have a questions ? Enter search item here">
        <input class="btn btn-orange" type="submit" value="Search">
      </form>
    </section>
    <section class="section-newsletter aqua">
      <div class="container">
        <div class="paragraph">
          <p>sign up your </p>
          <h2>newsletter</h2><i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <form action="">
          <input type="text" placeholder="Enter your domain name">
          <input class="btn btn-lg btn-orange" type="submit" value="Sign up now">
        </form>
      </div>
    </section>
    <footer class="clearfix">
      <div class="container">
        <div class="brand-footer col-sm-12 col-lg-3">
          <div class="content">
            <div class="brand"><a href="#"><img src="img/logo.png" alt="Logo">
                <p>Hosting</p></a></div><span>2015 © Allright Reserved</span>
          </div>
        </div>
        <div class="quick-links col-sm-6 col-md-4 col-lg-3">
          <div class="content">
            <h4>Quick links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Hosting Plans</a></li>
              <li><a href="#">Domain</a></li>
            </ul>
            <ul>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="contact col-sm-6 col-md-4 col-lg-4">
          <div class="content">
            <h4>Contact us</h4>
            <address> 
              <p> <span>Address : </span>9867 lipsum text here <br>There are many variations</p>
              <p> <span>Email : </span>info@hosting.com</p>
              <p> <span>Call : </span>+87 7765 557 888</p>
            </address>
          </div>
        </div>
        <div class="media col-sm-12 col-md-4 col-lg-2">
          <div class="content">
            <h4>Social media</h4>
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/selectize.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
